/*ESTILOS GENERALES dev*/
#toppage.gmx {
  height: 50px;
}

body {
  font-family: "Montserrat";
  color: #191919;
}

a,
a:hover {
  text-decoration: none;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  outline: none;
  border: 0;
  cursor: pointer;
}

button:disabled {
  cursor: unset;
}

main {
  position: relative;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.t-c {
  text-align: center;
}

.form-control:focus {
  box-shadow: none;
}

.ma {
  margin: auto;
}

.ma-g {
  margin-bottom: 10px;
}

.ma-b2 {
  margin-bottom: 20px;
}

.ma-b3 {
  margin-bottom: 30px;
}

.ma-t {
  margin-top: 10px !important;
}

.ma-t2 {
  margin-top: 20px;
}

.ma-t3 {
  margin-top: 30px;
}

.cnt {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.pr {
  position: relative;
}

.sp {
  padding-left: 0;
  padding-right: 0;
}

.pa-10 {
  padding: 10px;
}

.ocultar {
  display: none !important;
}

.mostrar {
  display: block !important;
}

/*COLORES BACK*/
.verde {
  background: #235B4E;
}

.verde_o {
  background: #10312B;
}

.oro {
  background: #BB965C;
}

.oro_c {
  background: #DDC9A5;
}

.guinda {
  background: #9F1F41;
}

.vino {
  background: #681B33;
}

.verde_b {
  background: #02AF02;
}

.rojo {
  background: #ED1C24;
}

.gris_c {
  background: #d2d1d1;
}

.blanco {
  background: #fff;
}

/*COLORES TEXT*/

.verde_t {
  color: #235B4E;
}

.verde_o_t {
  color: #10312B;
}

.oro_t {
  color: #BB965C;
}

.oro_c_t {
  color: #DDC9A5;
}

.guinda_t {
  color: #9F1F41;
}

.vino_t {
  color: #681B33;
}

.verde_b_t {
  color: #02AF02;
}

.rojo_t {
  color: #ED1C24;
}

.blanco_t {
  color: #fff;
}

.gris_c_t {
  color: #d2d1d1;
}

.gris_c_t {
  color: #d2d1d1;
}

@media all and (min-width:320px) {
  main#contPrerregistro {
    min-height: calc(100vh - 58px);
  }

  main#contRegistro {
    min-height: calc(100vh - -190px);
  }

  .cabezalGral {
    position: relative;
    z-index: 2;
    height: 70px;
    text-align: center;
    padding: 10px;
    background: #235B4E;
    border-bottom: 5px solid #BB965C;
  }

  .banner {
    height: 45px;
  }

  /*REGISTRO*/
  .limitForm {
    padding: 20px 30px;
  }

  h2.tit-prin {
    font-size: 22px;
    font-weight: 700;
    text-align: center;
  }

  .subtit {
    font-size: 14px;
    font-weight: 600;
  }

  .subtit a b {
    transition: .5s all;
  }

  .subtit a:hover b {
    color: #235B4E;
  }

  .subenun {
    position: relative;
    margin-bottom: 15px;
  }

  .subenun p {
    border-bottom: 2px solid;
    border-color: #BB965C;
  }

  .subenun span {
    display: block;
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 20px;
    height: 6px;
    background: #BB965C;
  }

  .subenun.gris p {
    border-color: #d2d1d1;
  }

  .subenun.gris span {
    background: #d2d1d1;
  }

  .subtit.gris {
    color: #d2d1d1 !important;
  }

  .aviso-txt{
    font-size: 13px;
    font-weight: 500;
    color: #235B4E;
  }

  .aviso-txt .a-link{
    font-size: 13px;
    font-weight: 700;
    color: #BB965C;
    transition: all .3s;
  }

  .aviso-txt .a-link:hover{
    color: #6F1228;
  }

  .aviso-txt.gris_c_t, .aviso-txt .a-link.gris_c_t {
    color: #d2d1d1;
  }

  .pass-olvide{
    display: block;
    font-size: 13px;
    font-weight: 600;
    text-align: right;
    margin-top: 5px;
    color: #9D2449;
    transition: all .3s ease;
  }

  .pass-olvide:hover{
    color: #611232;
  }

  a.btnCURP {
    display: block;
    width: 100%;
    margin: auto;
    padding: 5px;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
    color: white;
    border-radius: 10px;
    transition: .5s all;
    line-height: 1.1;
  }

  a.btnCURP:hover {
    transform: scale(.9);
    background: #9F804E;
  }

  label.titForm {
    display: block;
    font-size: 13px;
    font-weight: 700;
    line-height: 1;
    padding-left: 15px;
  }

  label.titForm em {
    font-size: 12px;
    color: #9F804E;
  }

  label.titForm img {
    width: 18px;
    margin-right: 5px;
  }

  .label-ghost {
    display: none;
    visibility: hidden;
  }

  .ghost {
    visibility: hidden;
  }

  .form-control.form-login {
    border: 0;
    border-bottom: 3px solid;
    border-radius: 0;
    height: 30px;
    padding: 0 8px;
  }

  .form-control:focus.form-login {
    color: #235B4E;
  }

  .msg-alert {
    display: block;
    font-size: 12px;
    font-style: italic;
    font-weight: 600;
    line-height: 1;
    margin-top: 5px;
  }

  .alert-sec {
    display: block;
    font-size: 12px;
    font-style: italic;
    font-weight: 600;
    line-height: 1;
    margin-top: -5px;
  }

  /*BTN GRAL*/
  .btnGral {
    position: relative;
    background: #fff;
    border: 3px solid;
    border-radius: 10px;
    min-width: 150px;
    height: 42px;
    padding: 0;
    margin: 0 10px auto;
    transition: .8s all;
  }

  .btnGral p {
    width: calc(100% - 48px);
    float: left;
    line-height: 40px;
    font-size: 16px;
    font-weight: 700;
    padding: 0 5px 0 10px;
  }

  .btnGral .btnIcon {
    position: relative;
    width: 48px;
    float: left;
    top: -1px;
    right: -1px;
  }

  .btnGral .btnIcon .boxIcon {
    position: relative;
    width: 30px;
    height: 40px;
    float: right;
    border-radius: 0 9px 9px 0;
    transition: .5s all;
  }

  .btnGral .btnIcon .boxIcon img {
    z-index: 10;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 25px;
    left: 8px;
    top: 50%;
  }

  .btnGral .btnIcon span {
    position: absolute;
    left: 5px;
    border-style: solid;
    border-width: 20px 15px 20px 0px;
    transform: rotate(0deg);
  }

  .btnGral .btnIcon span.s-oro {
    border-color: transparent #BB965C transparent transparent;
    transition: .5s all;
  }

  .btnGral .btnIcon span.s-verde {
    border-color: transparent #235B4E transparent transparent;
    transition: .5s all;
  }

  .btnGral .btnIcon span.s-guinda {
    border-color: transparent #9F1F41 transparent transparent;
    transition: .5s all;
  }

  .btnGral .btnIcon span.s-blanco {
    border-color: transparent #fff transparent transparent;
    transition: .5s all;
  }

  .btnGral .btnIcon span.s-gris {
    border-color: transparent #d2d1d1 transparent transparent;
    transition: .5s all;
  }

  .btnGral:hover {
    transform: scale(.85);
    color: #681B33;
  }

  .btnGral:hover .btnIcon span {
    border-color: transparent #681B33 transparent transparent;
  }

  .btnGral:hover .boxIcon {
    background: #681B33 !important;
  }

  /*BTN REGRESAR*/
  .btnReg {
    position: relative;
    background: #fff;
    border: 3px solid;
    border-radius: 10px;
    min-width: 150px;
    height: 42px;
    padding: 0;
    margin: auto;
    transition: .8s all;
  }

  .btnReg p {
    width: calc(100% - 48px);
    float: right;
    line-height: 40px;
    font-size: 16px;
    font-weight: 700;
    padding: 0 10px 0 5px;
  }

  .btnReg .btnIcon {
    position: relative;
    width: 48px;
    float: left;
    top: -1px;
    left: -1px;
  }

  .btnReg .btnIcon .boxIcon {
    position: relative;
    width: 30px;
    height: 40px;
    float: left;
    border-radius: 9px 0 0 9px;
    transition: .5s all;
  }

  .btnReg .btnIcon .boxIcon img {
    z-index: 10;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 20px;
    left: 17px;
    top: 50%;
  }

  .btnReg .btnIcon span {
    position: absolute;
    left: 29px;
    border-style: solid;
    border-width: 20px 0px 20px 15px;
    transform: rotate(0deg);
  }

  .btnReg .btnIcon span.s-verde {
    border-color: transparent transparent transparent #235B4E;
    transition: .5s all;
  }

  .btnReg .btnIcon span.s-oro {
    border-color: transparent transparent transparent #BB965C;
    transition: .5s all;
  }

  .btnReg .btnIcon span.s-guinda {
    border-color: transparent transparent transparent #9F1F41;
    transition: .5s all;
  }

  .btnReg:hover {
    transform: scale(.85);
    color: #681B33;
  }

  .btnReg:hover .btnIcon span {
    border-color: transparent transparent transparent #681B33;
  }

  .btnReg:hover .boxIcon {
    background: #681B33 !important;
  }

  /*LOGIN*/
  .contLogin {
    position: relative;
    height: calc(100vh - 58px);
  }

  .logo-gobmx {
    padding: 30px;
    text-align: center;
  }

  .logo-gobmx img {
    height: 70px;
  }

  .boxLogin {
    width: 90%;
    max-width: 380px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 37px;
    background: #fff;
    box-shadow: 0 0 10px #000000;
  }

  .headerBox {
    position: relative;
  }

  .headerBox img {
    width: 100%;
  }

  .headerBox h2 {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 70px;
    left: 50%;
  }

  .bodyBox {
    padding: 25px 30px 30px 30px;
  }

  .alert-not {
    display: block;
    background: red;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    color: #fff;
    border-radius: 30px;
    font-size: 12px;
    font-weight: 700;
  }

  .ubi-alert-menu {
    position: absolute;
    top: -7px;
    right: -7px;
  }

  .ubi-alert-submenu {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  #btnRegresar .btnReg {
    transform: scale(.8);
    margin-right: -15px;
  }

  /* MENU	DERECHA*/
  #menuDerecha {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 99;
  }

  .btnMenu {
    background: transparent;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    color: #fff;
    transition: .5s all;
  }

  .btnMenu i {
    font-size: 30px;
    transition: .5s all;
  }

  .btnMenu:hover {
    box-shadow: 0 0 3px black;
  }

  .btnMenu:hover i {
    font-size: 25px;
  }

  #menuDerecha.dropstart .dropdown-toggle::before {
    display: none;
  }

  #menuDerecha .dropdown-menu {
    padding: 10px;
    width: 320px;
    min-height: 150px;
    box-shadow: 0 0 10px black;
  }

  #menuDerecha .item-menu {
    display: block;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    background: transparent;
    font-size: 16px;
    font-weight: 500;
    color: #235B4E;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: left;
    border-bottom: 2px solid #00000050;
  }

  #menuDerecha .item-menu i {
    font-size: 20px;
    margin-right: 5px;
    color: #c39852;
  }

  #menuDerecha .item-menu:hover {
    font-weight: 700;
    border-bottom: 2px solid #BB965C;
  }

  #menuDerecha .item-menu:hover.rojo {
    font-weight: 700;
    color: #9F1F41;
    border-bottom: 2px solid #BB965C;
  }

  #menuDerecha .item-menu:hover.rojo i {
    color: #9F1F41;
  }

  /* PROCESO DE REGISTRO */
  .boxGral {
    position: relative;
  }

  .pleca_pasos {
    width: 100%;
    position: relative;
    z-index: 11;
    background: linear-gradient(#235B4E, #10312B);
    padding: 20px;
    text-align: center;
    color: #fff;
    height: 110px;
    border-bottom: 10px solid #d2d1d1;
  }

  .pleca_pasos h6 {
    margin-bottom: 1px;
  }

  .img-proceso {
    z-index: 5;
    width: 100%;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: -30px;
    height: 45px;
  }

  .img-paso {
    width: 50px;
    margin: 0 6px;
    padding: 0px;
    border-radius: 50px;
  }

  .linea-avance {
    display: block;
    background: #BB965C;
    height: 11px;
    position: absolute;
    left: 0;
    bottom: -10px;
  }

  .linea-avance.p1 {
    width: 24.5%;
  }

  .linea-avance.p2 {
    width: 44%;
  }

  .linea-avance.p3 {
    width: 61%;
  }

  .linea-avance.p4 {
    width: 77%;
  }

  .linea-avance.p5 {
    width: 100%;
  }

  .bodyForm {
    position: relative;
    top: 10px;
    padding: 30px 15px;
  }

  .limit-sec {
    width: 98%;
    margin: auto;
  }

  label.titLleno {
    position: relative;
    z-index: 10;
    left: 15px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    background: #fff;
    padding: 0 5px;
  }

  .datLleno {
    position: relative;
    top: -12px;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    width: 100%;
    background: #fff;
    border: 2px solid;
    border-radius: 10px;
    font-weight: 600;
    font-size: 13px;
  }

  .form-select.datLleno {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 20px;
  }

  

  label.titLleno_v {
    position: relative;
    z-index: 10;
    left: 15px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    background: #fff;
    padding: 0 5px;
  }

  .datLleno_v {
    position: relative;
    top: -12px;
    min-height: 40px;
    line-height: 1.1;
    padding: 10px 15px;
    width: 100%;
    background: #fff;
    border: 3px solid;
    border-radius: 10px;
    font-weight: 700;
  }

  .datLleno:focus-visible {
    border: 3px solid #005046;
    box-shadow: 0 0 2px #005046;
  }

  label.titLleno:focus-visible .datLleno:focus-visible {
    color: #235B4E;
  }

  .h40 {
    height: 50px;
    margin-bottom: 15px;
  }

  .form-control.form-basic,
  .form-select.form-basic,
  .form-basic {
    margin-top: 5px;
    border-radius: 10px;
    height: 40px;
    border: 2px solid #d2d1d1;
    font-weight: 700;
  }

  .form-check-label {
    font-size: 13px;
    font-weight: 700;
    color: #235B4E;
    padding: 8px 0 0 10px;
  }

  .form-check-input {
    width: 30px;
    height: 30px;
  }

  .form-check-input:checked {
    background-color: #235B4E;
    border-color: #235B4E;
  }

  .tipo-check .form-check {
    padding-left: 50px;
    width: 100%;
  }

  .caja-mapa {
    width: 100%;
    margin-top: 5px;
    border: 2px solid #BB965C;
    border-radius: 10px;
  }

  .caja-mapa img {
    width: 100%;
    border-radius: 10px;
  }

  .btnCarga {
    position: relative;
    margin: auto;
    width: 100px;
    height: 100px;
    border-radius: 30px;
    padding: 20px;
    background: #BB965C;
  }

  .btnCarga .input-file {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    left: 0;
    cursor: pointer;
    opacity: 0;
    z-index: 5;
  }

  .tit-archivo {
    display: block;
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 5px;
  }

  .tit-archivo img {
    width: 20px;
    margin-right: 5px;
  }

  .pleca_pasos h3 {
    font-size: 20px;
    margin-top: 10px;
  }

  .pleca_pasos h3 img {
    width: 30px;
  }

  /* BTN SECUNDARIO */
  .btnTer {
    position: relative;
    overflow: hidden;
    width: 85px;
    height: 35px;
    line-height: 35px;
    border-radius: 12px;
    color: #fff;
    font-weight: 600;
    transition: .8s background;
    top: 2px;
    margin-top: 5px;
  }

  .btnTer:hover,
  .btnTer:focus {
    cursor: pointer;
    background: #6F1228;
  }

  .btnTer i {
    font-size: 20px;
  }

  .btnTer:hover i,
  .btnTer:hover img {
    opacity: 0;
  }

  .btnTer:hover:before {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  .btnTer:before {
    content: attr(data-hover);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    line-height: 35px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 12px;
    opacity: 0;
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
    -webkit-transition: all .3s ease-in-out;
    transition: all .5s ease-in-out;
  }

  .btnAyuda {
    position: absolute;
    top: -3px;
    right: 0;
    width: 40px;
    height: 40px;
    border: 2px solid #bb965c;
    border-radius: 50%;
    padding: 5px;
    background: #fff;
    transition: 0.5s all;
  }

  .btnAyuda i {
    font-size: 25px;
    color: #bb965c;
    transition: 0.5s all;
  }

  .btnAyuda:hover {
    border: 2px solid #6f1228;
  }

  .btnAyuda:hover i {
    color: #6f1228;
  }

  /* MODAL DOCUMENTOS */
  .modal {
    background: #000000cc;
  }

  .modal-content {
    width: 95%;
    margin: auto;
    border-radius: 30px;
    padding: 15px;
    background: linear-gradient(#235B4E, #10312B);
    ;
  }

  .modal-head {
    text-align: center;
    border-bottom: 1px solid #ffffff85;
  }

  /* INICIO MODAL PDF */
  #modalPDF.modal {
    background: #000000cc;
  }

  #modalPDF .modal-content {
    width: 85%;
    /* max-height: max-content; */
    margin: auto;
    border-radius: 30px;
    padding: 55px;
    background: linear-gradient(#235b4e, #10312b);
  }

  #modalPDF .modal-head {
    text-align: center;
    border-bottom: 1px solid #ffffff85;
  }

  #modalPDF .modal-dialog {
    max-width: 95%;
    /* max-height: max-content; */
  }

  #modalPDF .modal-dialog {
    max-width: 75%;
    /* max-height: max-content; */
  }

  /* FIN MODAL PDF */
  .parra-modal {
    font-size: 13px;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
  }

  .box-doc {
    text-align: center;
    margin: 10px;
  }

  .img-doc-v {
    width: 120px;
  }

  .img-doc-h {
    height: 120px;
  }

  .check-w {
    width: 230px;
    margin: auto;
  }

  .bloquea {
    background: #454141cc;
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 100%;
    top: -10px;
    left: 0px;
    opacity: 0.7;
  }

  .imgPreviewImg {
    margin: auto;
    width: 200px;
  }

  .imgPreviewID {
    margin: auto;
    height: 150px;
  }

  .imgFoto {
    width: 100%;
    border-radius: 30px;
  }

  .imgID {
    height: 100%;
    border-radius: 30px;
  }

  ul.dat-contact {
    padding: 10px 0;
    border-bottom: 3px solid #bb965c;
  }

  .name-menu {
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    color: #235b4e;
  }

  .dat-menu {
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    color: #bb965c;
  }

  .mh-30 {
    margin-bottom: 30px;
  }

  #boxInfo {
    position: relative;
    width: 100%;
    height: auto;
    background-image: url("../img/FONDO_IZQ.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 5px black;
    padding: 0;
    z-index: 1;
  }

  #boxCont {
    width: 100%;
  }

  /*	SE MODIFICÓ*/
  .logo-info {
    padding: 25px;
  }

  /*	SE MODIFICÓ*/
  .pleca-proc {
    background: #10312be0;
    padding: 20px 66px;
    line-height: 1.2;
    text-align: center;
    color: #fff;
    font-size: 19px;
  }

  .pleca-docs {
    padding: 40px 10px;
  }

  .subtitSec {
    font-size: 15px;
    color: #fff;
    text-align: center;
    font-weight: 600;
    margin-bottom: 15px;
  }

  .pleca-docs p img {
    width: 15px;
    margin-right: 5px;
    margin-top: -5px;
  }

  .caja-docs {
    box-shadow: 0 0 5px #000;
    background: #235B4E;
    border-radius: 20px;
    padding: 15px 0;
  }

  .caja-ind {
    padding: 5px;
    text-align: center;
    border-right: 2px solid #ddc9a578;
  }

  .caja-ind.sin {
    border-right: none;
  }

  .caja-ind img {
    width: 40px;
    margin-bottom: 5px;
  }

  .caja-ind p {
    font-weight: 500;
    font-size: 10px;
    line-height: 1.1;
    margin-bottom: 0;
  }

  .caja-ind p.oro_t {
    font-weight: 600;
  }

  .foot-docs {
    background: #10312be0;
    padding: 20px;
    text-align: center;
    font-weight: 600;
    color: #fff;
    width: 100%;
  }

  .footbtnMovil {
    display: block;
    text-align: center;
    line-height: 1.2;
    font-weight: 700;
    width: 100%;
    height: 50px;
    padding: 8px;
  }

  a.footbtnMovil,
  a.footbtnMovil:hover {
    color: #fff;
  }

  .iconFoot {
    width: 20px;
  }

  .ubiBtn {
    width: 300px;
    height: 60px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 30px;
  }

  .ubiBtn a {
    display: flex;
    margin-top: 7.5px;
  }

  #inicia-ahora.btnGral {
    background: transparent;
    margin-top: 0;
    min-width: 285px;
  }

  #inicia-ahora.btnGral:hover {
    transform: none;
    color: #bb965c;
  }

  #inicia-ahora.btnGral:hover .boxIcon {
    background: #bb965c !important;
  }

  #inicia-ahora.btnGral:hover .btnIcon span {
    border-color: transparent #bb965c transparent transparent;
  }

  /* BANDEJA DE ENTRADA */
  #bandejaGral {
    z-index: 1;
    height: auto;
    background: #fff;
    box-shadow: 0 0 5px black;
  }

  #bandejaBody {
    position: relative;
    height: auto;
    padding: 0 20px;
    background: #f5f5f5;
  }

  .head-noti {
    width: 100%;
    height: 80px;
    padding: 20px 30px;
    background: #fff;
    border-bottom: 5px solid #bb965c;
  }

  .icon-noti {
    width: 40px;
    height: 40px;
    padding: 0 10px 0 0;
    float: left;
  }

  .dat-noti {
    width: calc(100% - 40px);
    float: left;
  }

  .dat-noti h5 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 0;
    line-height: 1.1;
  }

  .dat-noti p {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 0;
    line-height: 1.1;
  }

  .btn-noti {
    display: block;
    height: 50px;
    padding: 0;
    padding-left: 10px;
  }

  .icon-msg {
    width: 50px;
    height: 50px;
    float: left;
    padding: 15px;
  }

  .icon-msg i {
    font-size: 20px;
  }

  .icon-msg .cerrado {
    color: #235b4e;
  }

  .icon-msg .abierto {
    color: #bb965c;
  }

  .dat-msg {
    width: calc(100% - 50px);
    float: left;
    padding: 10px 5px;
  }

  .tit-msg {
    font-size: 13px;
    margin-bottom: 0;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .tit-msg.cerrado {
    font-weight: 700;
    color: #235b4e;
  }

  .tit-msg.abierto {
    font-weight: 500;
    color: #bb965c;
  }

  .fecha-msg {
    font-size: 10px;
    font-weight: 500;
    margin-bottom: 0;
    line-height: 1.1;
  }

  #bandejaBody .accordion-item {
    border: transparent;
    background: transparent;
  }

  #bandejaGral .accordion-button:not(.collapsed) {
    color: #fff;
    background-color: #235B4E;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .125);
  }

  #bandejaGral .accordion-button:not(.collapsed) .icon-msg .cerrado,
  #bandejaGral .accordion-button:not(.collapsed) .icon-msg .abierto,
  #bandejaGral .accordion-button:not(.collapsed) .tit-msg.cerrado,
  #bandejaGral .accordion-button:not(.collapsed) .tit-msg.abierto {
    color: #fff;
  }

  #bandejaGral .accordion-button:hover {
    background: #ddc9a5d1;
  }

  .encabezado-msg {
    display: block;
    background: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 0 3px grey;
    margin-bottom: 10px;
  }

  .titEnca {
    width: 100%;
    font-size: 13px;
    font-weight: 700;
  }

  .fechaEnca {
    width: 100%;
    font-size: 10px;
    line-height: 1.1;
    font-weight: 600;
    color: #7f7f7f;
  }

  .cuerpo-msg {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 3px grey;
    padding: 15px;
  }

  .aviso-img {
    margin: auto;
    text-align: center;
  }

  .aviso-img img {
    width: 600px;
    max-width: 100%;
  }

  .aviso-text {
    width: 95%;
    margin: auto;
  }

  .caja-text {
    padding: 10px 0px;
  }

  .caja-text h5 {
    font-size: 13px;
    font-weight: 700;
  }

  .caja-text p {
    font-size: 11px;
    line-height: 1.1;
    font-weight: 500;
    text-align: justify;
    margin-bottom: 10px;
  }

  #btnRegresar {
    margin-top: 5px;
    text-align: right;
    display: none;
  }
}

@media all and (min-width:420px) {
  .img-paso {
    width: 62px;
    height: 50px;
  }

  .img-proceso {
    bottom: -23px;
  }

  .linea-avance.p3 {
    width: 60%;
  }

  .linea-avance.p4 {
    width: 73%;
  }
}

@media all and (min-width:576px) {
  .linea-avance.p1 {
    width: 33%;
  }

  .linea-avance.p2 {
    width: 43%;
  }

  .linea-avance.p3 {
    width: 57%;
  }

  .linea-avance.p4 {
    width: 67%;
  }

  .ubiBtn {
    display: none;
  }

  .foot-docs {
    bottom: 0;
  }

  /* SE MODIFICÓ */
  .pleca-docs {
    padding: 10px 30px;
  }

  /* SE MODIFICÓ */
  #boxInfo {
    height: auto;
  }

  .foot-docs {
    position: relative;
  }
}

@media all and (min-width:768px) {



  .banner_web {
    display: block;
    height: 150px;
    margin: auto;
  }

  .banner_movil {
    display: none;
  }

  .limitForm {
    width: 75%;
    margin: auto;
    padding: 20px 0px;
  }

  a.btnCURP {
    height: 35px;
    line-height: 25px;
  }

  .msg-alert {
    font-size: 13px;
    margin-top: 0;
  }

  .caja-mapa {
    width: 80%;
  }

  .linea-avance.p1 {
    width: 37%;
  }

  .linea-avance.p3 {
    width: 56%;
  }

  .linea-avance.p4 {
    width: 63%;
  }

  .modal-dialog {
    max-width: 95%;
  }

  .box-doc {
    margin: 15px 0;
  }

  .subtit {
    font-size: 13px;
    line-height: 1.2;
  }

  .mh-30 {
    margin-bottom: 30vh;
  }

  .img-doc-v {
    width: 130px;
  }

  .img-doc-h {
    height: 130px;
  }

  .aviso-text {
    width: 80%;
    margin: auto;
  }

  .btnMenu i {
    font-size: 40px;
  }

  #menuDerecha {
    top: 20px;
    right: 20px;
  }

  .cabezalGral {
    height: 100px;
    padding: 15px;
    border-bottom: 10px solid #BB965C;
  }

  .banner {
    height: 60px;
  }

  #bandejaGral {
    height: calc(100vh - 160px);
  }

  #bandejaBody {
    overflow-y: scroll;
    height: calc(100vh - 160px);
  }

  #bandejaGral #barrido-bandeja {
    height: calc(100% - 80px);
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .icon-msg i {
    font-size: 20px;
  }

  .tit-msg {
    font-size: 13px;
  }

  .fecha-msg {
    font-size: 10px;
  }

  .caja-text {
    padding: 15px 30px;
  }

  .caja-text h5 {
    font-size: 18px;
  }

  .caja-text p {
    font-size: 13px;
  }

  .encabezado-msg {
    padding: 10px 15px;
  }

  .encabezado-msg {
    display: flex;
  }

  .titEnca {
    width: calc(100% - 160px);
    float: left;
    font-size: 15px;
  }

  .fechaEnca {
    width: 160px;
    float: left;
    font-size: 12px;
    line-height: 22px;
  }

  #bandejaBody {
    padding: 20px;
  }
}

@media all and (min-width:992px) {
  .limitForm {
    width: 80%;
  }

  .caja-mapa {
    width: 65%;
    margin: auto;
    margin-top: 5px;
  }

  label.l-mapa {
    text-align: center;
  }

  .bodyForm {
    width: 85%;
    margin: auto;
  }

  .modal-dialog {
    max-width: 75%;
  }

  .cnt_login {
    top: 55%;
  }

  /* SE MODIFICÓ	*/
  #boxInfo {
    width: 550px;
    float: left;
    min-height: 110vh;
  }

  /* SE MODIFICÓ	*/
  #boxCont {
    width: calc(100% - 550px);
    float: left;
  }

  /* SE MODIFICÓ	*/
  .logo-info {
    padding: 30px;
    text-align: center;
  }

  .pleca-proc {
    padding: 20px 90px;
  }

  /* SE MODIFICÓ	*/
  .label-ghost {
    display: block;
  }

}

@media all and (min-width:1024px) {
  .linea-avance.p1 {
    width: 41%;
  }

  .linea-avance.p2 {
    width: 48%;
  }

  .linea-avance.p3 {
    width: 52%;
  }

  .linea-avance.p4 {
    width: 58%;
  }
}

.blockscreen {
  z-index: 9999;
  position: fixed;
  /*Important to cover the screen in case of scolling content*/
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  background: rgba(2, 47, 20, 0.25);
}

.textBlockScreen {
  color: #bb965c;
}

.jconfirm .jconfirm-box.jconfirm-type-blue {
  border-top: solid 7px #004750 !important;
  -webkit-animation-name: type-blue;
  animation-name: type-blue;
}

.jconfirm .jconfirm-box.jconfirm-type-blue .jconfirm-title-c .jconfirm-icon-c {
  color: #004750 !important;
}

.jconfirm .jconfirm-box div.jconfirm-title-c .jconfirm-icon-c i {
  vertical-align: middle;
  color: #004750;
}

.btn-success {
  color: #fff;
  background-color: #004750;
  border-color: #004750;
}

#map {
  height: 400px;
  width: 100%;
}

.ma-b2 {
  margin-bottom: 20px;
}

.subtit a b {
  transition: 0.5s all;
}

.subtit a:hover b {
  color: #235b4e;
}

.file_input_doc {
  display: none;
}

.typeFileBtn {
  cursor: pointer;
}

.btn-ps {
  position: relative;
  margin: 20px;
  text-align: center;
}

.btnFoto {
  position: absolute;
  transform: translateX(-50%);
  bottom: 10px;
  left: 50%;
  border: 3px solid #fff;
  border-radius: 30px;
  background: transparent;
  padding: 5px;
  box-shadow: 0 0 5px black;
  transition: 0.5s all;
}

.btnText {
  background: #fff;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 700;
  color: #9f1f41;
  border-radius: 30px;
  box-shadow: 0 0 5px black;
  transition: 0.5s all;
}

.i-captura {
  width: 22px;
  height: 22px;
  -webkit-mask: url(../img/CAMARA.svg) no-repeat;
  float: left;
  background: #9f2241;
  transition: 0.5s all;
  margin-right: 5px;
}

.btnFoto:focus:hover {
  transform: translateX(-50%) scale(0.95);
  border: 3px solid #9f2241;
}

.btnFoto:focus:hover .btnText {
  background: #9f2241;
  color: #fff;
}

.btnFoto:focus:hover .i-captura {
  background: #fff;
}

.limitAviso {
  width: 70%;
  margin: 25px auto;
}

.headAviso {
  background: #005046;
  text-align: center;
  border-radius: 25px 25px 0 0;
}

.titHead {
  margin: auto;
  padding: 10px 15px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.1;
}

.headAviso img {
  width: 50px;
  margin-bottom: 5px;
}

.bodyAviso {
  background: #fff;
  padding: 40px 50px;
  box-shadow: 0 0 5px black;
  border-radius: 0 0 25px 25px;
}

.titAviso {
  font-size: 20px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 0px;
}

.titAviso.oro_t {
  margin-bottom: 10px;
}

.bodyAviso p,
.bodyAviso ol {
  font-size: 15px;
  font-weight: 500;
  text-align: justify;
  margin-bottom: 15px;
  line-height: 1.2;
}

.bodyAviso ol {
  padding-left: 60px;
}

.bodyAviso label {
  display: block;
  font-size: 18px;
  font-weight: 700;
}

.bodyAviso .subenunbis .subtit {
  font-size: 14px;
  line-height: 1.5;
}

.footerAviso .form-check {
  width: 540px;
  margin: 30px auto;
  margin-bottom: 0;
}

.footerAviso .form-check label {
  font-size: 16px;
  color: #4d4d4d;
}

@media all and (max-width: 992px) {
  .limitAviso {
    width: 90%;
  }

  .bodyAviso {
    padding: 30px;
  }

}

@media all and (max-width: 768px) {

  .logoregistro {
    height: 20px !important;
    position: absolute;
    left: 5px !important;
    top: 26px !important;
    content: url('../img/IMSS-BIENESTAR.png') !important;
  }

  .limitAviso {
    width: 95%;
    margin: 10px auto;
  }
}

@media all and (max-width: 576px) {
  .headAviso img {
    position: relative;
    width: 40px;
    float: left;
    left: 25px;
    margin-bottom: 0px;
  }

  .headAviso p {
    width: calc(100% - 40px);
    margin: auto;
    font-size: 17px;
  }

  .bodyAviso {
    padding: 15px;
  }

  .titAviso {
    font-size: 14px;
    font-weight: 600;
  }

  .bodyAviso p,
  .bodyAviso ol {
    font-size: 13px;
    margin-bottom: 8px;
  }

  .bodyAviso label {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 800;
    margin-bottom: 10px;
  }

  .bodyAviso ol {
    padding-left: 35px;
  }

  .footerAviso .form-check label {
    font-size: 14px;
    line-height: 1.1;
    width: 95%;
  }

  .footerAviso .form-check {
    width: 75%;
    margin: 20px auto;
    margin-bottom: 0;
  }
}

@media all and (max-width: 420px) {
  .headAviso img {
    width: 30px;
    left: 10px;
  }

  .headAviso p {
    width: 100%;
    font-size: 15px;
  }
}

.btn-ps {
  position: relative;
  margin: 20px;
  text-align: center;
}

.btnFoto {
  position: absolute;
  transform: translateX(-50%);
  bottom: 10px;
  left: 50%;
  border: 3px solid #fff;
  border-radius: 30px;
  background: transparent;
  padding: 5px;
  box-shadow: 0 0 5px black;
  transition: 0.5s all;
}

.btnText {
  background: #fff;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 700;
  color: #9f1f41;
  border-radius: 30px;
  box-shadow: 0 0 5px black;
  transition: 0.5s all;
}

.i-captura {
  width: 22px;
  height: 22px;
  -webkit-mask: url(../img/CAMARA.svg) no-repeat;
  float: left;
  background: #9f2241;
  transition: 0.5s all;
  margin-right: 5px;
}

.btnFoto:focus:hover {
  transform: translateX(-50%) scale(0.95);
  border: 3px solid #9f2241;
}

.btnFoto:focus:hover .btnText {
  background: #9f2241;
  color: #fff;
}

.btnFoto:focus:hover .i-captura {
  background: #fff;
}

#form-prerregistro li.nav-item {
  width: 50%;
}

#form-prerregistro li.nav-item .nav-link {
  background: #fff;
  text-align: center;
  height: 60px;
  font-weight: 500;
  padding: 12px;
}


#form-prerregistro li.nav-item .nav-link.registro {
  border: 2px solid #005046;
  border-radius: 25px 0 0 0;
}

#form-prerregistro li.nav-item .nav-link.registro.active {
  background: #005046;
}

a.nav-link.registro .p-registro {
  line-height: 1;
  font-size: 18px;
  color: #005046;
}

a.nav-link.registro.active .p-registro,
a.nav-link.sesion.active .p-sesion,
a.nav-link.sesion.active .label-sesion {
  color: #fff;
}

/* NUEVOS */
#form-prerregistro li.nav-item .nav-link.sesion {
  border: 2px solid #9f1f41;
  border-radius: 0 25px 0 0;
  padding: 5px;
}

#form-prerregistro li.nav-item .nav-link.sesion.active {
  background: #9f1f41;
}

a.nav-link.sesion .label-sesion {
  font-size: 13px;
  line-height: 1;
  font-weight: 700;
  color: #000000;
}

a.nav-link.sesion .p-sesion {
  line-height: 1;
  font-size: 18px;
  color: #9f1f41;
}

#form-prerregistro .tab-content {
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 5px black;
  border-radius: 0 0 25px 25px;
}

#form-prerregistro .tab-content-bis {
  padding: 50px;
  background: #fff;
}

.bloquea_2 {
  width: 100%;
  height: 100%;
  background: transparent;
  position: absolute;
  z-index: 20;
  top: 0;
}

.bloquea_3 {
  width: 100%;
  height: 100%;
  background: transparent;
  position: absolute;
  z-index: 20;
  top: 0;
}

/*CAMBIO*/
.l-div {
  position: relative;
  height: 5px;
  width: 100%;
}

.l-div-bis {
  position: relative;
  height: 10px;
  width: 100%;
}

.borde-izq {
  width: calc(50% - 5px);
  height: 5px;
  float: left;
  position: relative;
}

.borde-izq .diagonal {
  position: absolute;
  width: 5px;
  height: 5px;
  bottom: 0;
  right: -5px;
  border-bottom: 5px solid;
  border-right: 5px solid transparent;
}

.borde-der {
  width: calc(50% - -5px);
  height: 5px;
  float: right;
}

.boxConfirma {
  width: 550px;
  margin: auto;
  margin-top: 140px;
  background: #235B4E;
  color: #fff;
  border-radius: 25px;
  padding: 20px;
  text-align: center;
}

.img-check {
  width: 90px;
  margin: 15px;
}

.subConfirma {
  margin: 20px 0;
}

.subConfirma p {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 15px;
}

#form-prerregistro li.nav-item .nav-link {
  padding: 20px;
}

/*CAMBIO*/

@media all and (max-width: 1200px) {
  #boxInfo {
    width: 42%;
  }

  #boxCont {
    width: 58%;
  }

  .limitForm {
    width: 90%;
  }

  #form-prerregistro li.nav-item .nav-link {
    padding: 10px 12px;
  }
}

@media all and (max-width: 992px) {

  /* SE CAMBIÓ	*/
  #boxInfo {
    width: 35%;
    float: left;
  }

  #boxCont {
    width: 60%;
    float: left;
  }

  /* SE CAMBIÓ	*/
  #form-prerregistro li.nav-item .nav-link {
    padding: 10px;
  }

  .label-ghost {
    display: block;
  }
}

@media all and (max-width: 850px) {
  #boxInfo {
    width: 100%;
  }

  #boxCont {
    width: 100%;
  }

  .limitForm {
    width: 90%;
    margin: auto;
  }

  #form-prerregistro li.nav-item .nav-link {
    padding: 10px 10px;
  }

  .container,
  .container-sm {
    max-width: 100%;
  }
}

@media all and (max-width: 576px) {
  .limitForm {
    width: 95%;
    padding: 25px 10px;
  }

  a.nav-link.registro .p-registro,
  a.nav-link.sesion .p-sesion {
    font-size: 14px;
  }

  a.nav-link.sesion .label-sesion {
    font-size: 10px;
  }

  .label-ghost {
    display: none;
  }

  #form-prerregistro .tab-content {
    padding: 15px 10px;
  }

  .subtit {
    font-size: 12px;
    line-height: 1.2;
  }

  #form-prerregistro .tab-content-bis {
    padding: 20px 0;
  }

  #form-prerregistro .container,
  #form-prerregistro .container-fluid,
  #form-prerregistro .container-lg,
  #form-prerregistro .container-md,
  #form-prerregistro .container-sm,
  #form-prerregistro .container-xl,
  #form-prerregistro .container-xxl {
    padding-right: 0;
    padding-left: 0;
  }

  .bodyBox {
    padding: 25px 10px 30px 10px;
  }

  /*	SE MODIFICÓ */
  .pleca-proc {
    padding: 20px 50px;
    font-size: 15px;
  }

  /*	SE MODIFICÓ */
  .pleca-docs {
    padding: 25px 10px;
  }

  a.btnCURP {
    padding: 10px 5px;
  }

  /* CAMBIO */
  .boxConfirma {
    width: 95%;
    margin-top: 30px;
  }

  .boxConfirma h5 {
    font-size: 15px;
  }

  .subConfirma p {
    font-size: 14px;
  }

  /* CAMBIO */
}

@media all and (max-width: 420px) {
  a.nav-link.sesion .label-sesion {
    font-size: 9px;
  }

  a.nav-link.registro .p-registro,
  a.nav-link.sesion .p-sesion {
    font-size: 12px;
  }

  #form-prerregistro li.nav-item .nav-link {
    height: 50px;
    padding: 10px 5px;
  }

  #form-prerregistro li.nav-item .nav-link.sesion {
    padding: 0px 5px;
  }

  a.btnCURP {
    padding: 10px 8px;
    font-size: 12px;
  }

}

.l-div {
  position: relative;
  height: 5px;
  width: 100%;
}

.l-div-bis {
  position: relative;
  height: 10px;
  width: 100%;
}

.borde-izq {
  width: calc(50% - 5px);
  height: 5px;
  float: left;
  position: relative;
}

.borde-izq .diagonal {
  position: absolute;
  width: 5px;
  height: 5px;
  bottom: 0;
  right: -5px;
  border-bottom: 5px solid;
  border-right: 5px solid transparent;
}

.borde-der {
  width: calc(50% - -5px);
  height: 5px;
  float: right;
}

.boxConfirma {
  /* width: 550px; */
  margin: auto;
  margin-top: 140px;
  background: #235B4E;
  color: #fff;
  border-radius: 25px;
  padding: 20px;
  text-align: center;
}

.img-check {
  width: 90px;
  margin: 15px;
}

.subConfirma {
  margin: 20px 0;
}

.subConfirma p {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 15px;
}

.btnIr {
  background: #235B4E;
  color: #fff;
  border: none;
  position: relative;
  width: 180px;
  height: 45px;
  font-size: 18px;
  padding: 0 20px;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
  border-radius: 15px 0 15px 0;
  outline: none;
}

.btnIr:hover {
  background: #fff;
  color: #235B4E;
}

.btnIr:before,
.btnIr:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #235B4E;
  transition: 400ms ease all;
}

.btnIr:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.btnIr:hover:before,
.btnIr:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

.btnIr p {
  position: relative;
}

.btnIr i {
  width: 20px;
  position: absolute;
  transform: translateY(-50%);
  top: 0;
  left: 0;
  transition: 400ms ease all;
}

.btnIr span {
  position: absolute;
  display: block;
  width: calc(100% - 20px);
  transform: translateY(-50%);
  top: 0;
  right: 0;
  transition: 400ms ease all;
}

.btnIr:hover span {
  right: 15%;
}

.btnIr:hover i {
  left: 90%;
}

#tabla-hijos td.tit {
  text-align: left;
  width: 90px;
  color: #BB965C;
  font-size: 16px;
  font-weight: 600;
  vertical-align: middle;
}

#tabla-hijos .table-responsive {
  width: 100%;
}

#tabla-hijos tr th {
  color: #235B4E;
  border-bottom: 2px solid #235B4E;
}

.subtit a {
  font-weight: 700;
  transition: .3s all;
}

.subtit a:hover {
  color: #9D2449;
}


/* SE AGREGÓ */
.p-text {
  font-size: 15px;
  line-height: 1.2;
  font-weight: 500;
  text-align: justify;
  margin-bottom: 5px;
}

.pleca-docs .btnGral {
  min-width: 205px;
}

.pleca-docs .btnGral p {
  font-size: 12px;
  padding: 0 0px 0 5px;
}

.pleca-estado {
  padding: 10px 30px;
}

/* SE AGREGÓ */

#li-estados ul {
  padding-left: 9px;
  color: #DDC9A5;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

.li-u {
  width: 35%;
  float: left;
}

.li-d {
  width: 35%;
  float: left;
}

.li-t {
  width: 30%;
  float: left;
}

@media (max-width: 1024px) and (min-width: 992px) {
  .pleca-estado {
    padding: 15px;
  }
}

@media all and (max-width: 576px) {
  .p-text {
    font-size: 13px;
  }

  .pleca-estado {
    padding: 15px;
    padding-bottom: 0;
  }

  #li-estados.pleca-estado {
    padding-right: 0;
  }

  #li-estados ul {
    font-size: 12px;
  }

  .pleca-docs {
    padding: 10px;
  }
}


.logoregistro {
  height: 40px !important;
  position: absolute;
  left: 25px;
  top: 26px;
  content: url('../img/IMSS-BIENESTAR.svg');
}

/*estilo para leyenda La credencial no condiciona el acceso a los servicios*/
.iconoDerecha{
  padding: 0;
  position: relative;
  width: 40px;
  float: left;
 }
 .iconoDerecha i{
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: 40px;
  color: #DDC9A3;
 }
 .textoIzquierda{
  width: calc(100% - 40px);
  float: left;
 }
 .leyenda{
  font-size: 12px;
  font-weight: 500;
  line-height: 1.2;
  padding-top: 5px;
  color: #DDC9A3;
 }
 .divPleca{
  background: #235B4E;
     padding: 15px;
 }
 
 .super_leyenda{
  text-align: center;
     font-size: 13px;
     line-height: 1.1;
     font-weight: 500;
     color: #fff;
 }
/*Temporizador*/
 #temporizador h6{   
  text-align: center;                                              
  position: relative;                                                            
  font-size: 13px;                                                            
  font-weight: 600;
}

#temporizador span{
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

#temporizador .ubIcon{
  text-align: center;
  font-size: 15px;
  position: center;
  left: 175px;
  top: 8px;
}


/* NUEVOS 180624 */

.boxIMSS{
  background: #fff;
  padding: 10px 15px;
  box-shadow: 0 0 3px black;
  border-radius: 10px;
}
.boxIMSS p{
  font-size: 13px;
  font-weight: 600;
  color: #235c4f;
}
.boxIMSS p em{
  font-weight: 700;
}

#selectVialidad .select2{
  display: block;
  width: 100%;
}

#selectVialidad .select2-selection{
  margin-top: 5px;
  border-radius: 10px;
  height: 40px;
  border: 2px solid #d2d1d1;
  font-size: 12px;
  font-weight: 700;
}
#selectVialidad .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 35px;
  padding-left: 15px;
  padding-right: 20px;
}
#selectVialidad .select2-container--default .select2-selection--single .select2-selection__arrow b{
  border-style: none;
}
#selectVialidad .select2-container--default .select2-selection--single .select2-selection__arrow {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right .75rem center;
  background-size: 16px 12px;
  top: 7px;
  right: 0px;
  width: 30px;
}
#selectVialidad  .select2-search--dropdown {
  border: 2px solid #d2d1d1 !important;
  padding: 0px !important;
}
#selectVialidad .select2-container--default .select2-search--dropdown .select2-search__field {
  border: 0px solid #aaa !important;
}
#selectVialidad .select2-container--default .select2-results__option--highlighted[aria-selected], .select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #235B4E !important;
}